.container {
    margin-top: 50px;
}

.but {
    margin-top: 32px;
}

.lst {
    margin-top: 30px;
}

.card-i {
    margin: 20px 20px;
}

.head-i {
    height: 50px;
}

.nik-block {
    padding: 15px 0;
}